@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  @include form-container;
}

.title {
  font-size: $font-size--l;
  line-height: 28px;
  text-align: center;
  color: $label-text;
  margin-bottom: 21px;
}

.label {
  &:last-of-type {
    margin-bottom: 21px;
  }
}

.submit {
  @include submit;
}

.text {
  @include form-text;
  font-size: $font-size--xs;
  line-height: 20px;
  text-align: center;
  color: $article-color;
}

.error {
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--s;
  line-height: 22px;
  color: $error-color;
}
