@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  max-width: 938px;
  min-height: 140px;
  @include container;
  padding: 15px 13px 24px 16px;
}

.text {
  margin-right: 37px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.75);
}
