@import '../../scss/variables';
@import '../../scss/mixins';

.list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  max-width: 938px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container {
  @include container;
  height: 140px;
  width: 100%;
  padding: 15px 13px 24px 16px;
}

.pagination {
  max-width: 330px;
  margin: 0 auto;
}
