@import '../../scss/variables';
@import '../../scss/mixins';

.container {
  @include form-container;
  max-width: 938px;
}

.title {
  font-size: $font-size--l;
  line-height: 28px;
  text-align: center;
  color: $label-text;
  margin-bottom: 21px;
}

.label {
  @include label;
  margin-bottom: 21px;
}

.submit {
  @include submit;
  max-width: 319px;
}

.text {
  @include form-text;
  font-size: $font-size--xs;
  line-height: 20px;
  text-align: center;
  color: $article-color;
}

.error {
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--s;
  line-height: 22px;
  color: $error-color;
}

.tags {
  display: grid;
  grid-template-columns: 455px 140px;
}

.add {
  @include tag-button;
  border: 1px solid $active-color;
  color: $active-color;
  align-self: flex-end;
  margin-bottom: 5px;
  transition: 500ms;

  &:focus {
    outline: none;
    border: 2px solid $active-color;
  }

  &:hover {
    background-color: $active-color;
    color: $bg-element-color;
  }
}
