@import '../../scss/mixins';
@import '../../scss/variables';
@import './vector';

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  @include heading-text;
  font-size: $font-size--l;
  color: $active-color;
}

.btn {
  @include like-btn;

  &:focus {
    outline: none;
  }
}

.active-btn {
  @include like-btn;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background: $bg-element-color $url-svg--hover no-repeat;
    background-position: 15%;
  }
}

.liked {
  @include like-btn;
  background: $bg-element-color $url-svg--liked no-repeat;
  background-position: 15%;
  cursor: pointer;
  transition: 500ms;

  &:hover {
    background: $bg-element-color $url-svg--hover no-repeat;
    background-position: 15%;
  }
}

.counter {
  @include description-text;
  position: absolute;
  top: 0px;
  left: 22px;
  cursor: default;
}

.tags-container {
  min-height: 20px;
  margin: 5px 0;
}

.tag {
  background-color: $bg-element-color;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 4px;
  font-size: $font-size--s;
  line-height: 15px;
  color: $text-color;
}

.text {
  @include description-text;
  max-width: 682px;
}

.autor-info {
  display: flex;
  min-width: 145px;
}

.autor-name {
  @include heading-text;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.date {
  font-weight: 400;
  font-size: $font-size--xs;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.autor-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 12px;
}
