@import '../../scss/mixins';
@import '../../scss/variables';

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  @include heading-text;
  font-size: $font-size--l;
  color: $active-color;
}

.btn {
  border: none;
  width: 16px;
  height: 16px;
  background: $bg-element-color url(./Vector.svg) no-repeat center;
  margin-left: 13px;
}

.counter {
  @include description-text;
  margin-left: 5px;
}

.tags-container {
  min-height: 20px;
  margin: 5px 0;
}

.tag {
  background-color: $bg-element-color;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0 4px;
  font-size: $font-size--s;
  line-height: 15px;
  color: $text-color;
}

.text {
  @include description-text;
  max-width: 682px;
}

.autor-info {
  display: flex;
  min-width: 145px;
}

.autor-name {
  @include heading-text;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.date {
  font-weight: 400;
  font-size: $font-size--xs;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}

.autor-avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-left: 12px;
}
