@import './variables';

@mixin heading-text {
  font-family: $app-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--m;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: $title-color;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

@mixin btn {
  background-color: $bg-element-color;
  padding: 4px 15px;
  cursor: pointer;
}

@mixin description-text {
  font-weight: 400;
  font-size: $font-size--xs;
  line-height: 22px;
  color: $text-color;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0;
}

@mixin container {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: $bg-element-color;
  filter: drop-shadow(0px 4px 12px $shadow-color);
  margin-bottom: 26px;
  border-radius: $border-radius;
}

@mixin form-container {
  max-width: 385px;
  @include container;
  padding: 48px 33px;
  margin-top: 59px;
}

@mixin form-text {
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
}

@mixin submit {
  background: $active-color;
  border-radius: $border-radius--s;
  border: none;
  height: 40px;
  @include form-text;
  font-size: $font-size;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $bg-element-color;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 500ms;

  &:focus {
    outline: 2px solid $active-color;
    background-color: $focused-color;
  }

  &:hover {
    background-color: $focused-color;
  }
}

@mixin label {
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--s;
  line-height: 22px;
  color: $label-text;
}

@mixin input {
  background: $bg-element-color;
  border: 1px solid $input-color;
  box-sizing: border-box;
  border-radius: $border-radius--s;
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  color: $text-color;
  line-height: 24px;
  padding: 8px 12px;
}

@mixin tag-button {
  box-sizing: border-box;
  padding: 8px 36px;
  background-color: $bg-element-color;
  border-radius: $border-radius--s;
  font-family: $form-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}

@mixin article-button {
  box-sizing: border-box;
  padding: 5px 18px;
  background-color: $bg-element-color;
  border-radius: $border-radius;
  font-family: $app-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size--s;
  line-height: 22px;
}
