$bg-element-color: #ffffff;
$success-color: #52c41a;
$active-color: #1890ff;
$error-color: #f5222d;
$focused-color: #188fff96;
$text-color: rgba(0, 0, 0, 0.75);
$title-color: rgba(0, 0, 0, 0.85);
$label-text: #262626;
$shadow-color: rgba(0, 0, 0, 0.15);
$input-color: #d9d9d9;
$article-color: #8c8c8c;

$border-radius: 5px;
$border-radius--s: 4px;

$app-font-family: 'Inter', sans-serif;
$form-font-family: 'Roboto', sans-serif;

$font-size: 16px;
$font-size--s: 14px;
$font-size--xs: 12px;
$font-size--m: 18px;
$font-size--l: 20px;
