@import './variables';
@import './mixins';

body {
  margin: 0;
  background-color: #ebeef3;
}

form,
label {
  display: flex;
  flex-direction: column;
}

label {
  @include label;
  margin-bottom: 12px;
}

input,
textarea {
  @include input;

  &:focus,
  &:active {
    color: $text-color;
    outline: none;
    background: $bg-element-color;
    border: 1px solid $text-color;
  }
}

input::placeholder,
textarea::placeholder {
  color: #bfbfbf;
}

.ant-pagination-item-active {
  background-color: $active-color;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: $bg-element-color;
}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
  color: rgba(197, 223, 231, 0.89);
}

.ant-checkbox-wrapper {
  @include label;
  color: #595959;
  border-top: 1px solid $input-color;
  margin: 9px 0 21px 0;
  padding-top: 8px;
  flex-direction: row;
}

.ant-btn {
  border-radius: 4px;
}
